<div class="container">
  <div class="cat-container">
    <div class="cat">
      <app-cat (onSelectionCat)="onSelectionCat()"
                [cat]="firstCat"
                [cats]="cats"></app-cat>
    </div>
    <div class="cat">
      <app-cat (onSelectionCat)="onSelectionCat()"
                [cat]="secondCat"
                [cats]="cats"></app-cat>
    </div>
  </div>

  <footer>
    <button type="button" class="button" (click)="reinitVotes()">Réinitialiser vos votes</button>
  </footer>
</div>
