@import './../../../assets/styles/mixin.scss';
@import './../../../assets/styles/colors.scss';

@include button();

:host {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 160;

  .button {
    position: absolute;
    top: 20px;
    left: 20px;


    &:hover {
      background: $greenGradient;
      color: white;
    }
  }

  .podium {
    display: flex;
    margin: auto;
    padding-top: 100px;
    justify-content: space-evenly;

    .podium-container {
      display: flex;
      width: fit-content;
      height: 450px;
      padding: 0 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $whiteGradient;
      border-radius: 10px;
      backdrop-filter: blur(20px);
      z-index: 150;

      h2 {
        margin: 0 0 20px 0;
        color: $textBlue;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Varela Round', sans-serif;
      }

      .cat-podium {
        display: flex;
        justify-content: space-evenly;

        .cat:nth-child(2) {
          margin: 0 50px;
        }
      }
    }
  }

  .not-podium {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .catTab {
      display: flex;
    }

    .cat {
      margin-bottom: 50px;
      justify-content: space-evenly;

      text-align: center;
      position: relative;
      cursor: pointer;
      perspective: 500px;

      .text {
        content: "";
        position: absolute;
        display: flex;
        padding: 5% 8%;
        width: 70%;
        height: 40%;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        color: $textBlue;
        background: rgba(255,255,255,0.9);
        font-size: 20px;
        font-weight: 600;
        font-family: 'Varela Round', sans-serif;
        transform: translate(-50%, -50%) rotateY(90deg);
        transform-origin: 50%;
        opacity: 0;
        transition: all 0.4s ease-in;
      }

      &:hover .text {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
      }
    }

    .cat:nth-child(1) {
      margin-right: 40px;
    }
    .cat:nth-child(2) {
      margin-right: 40px;
    }
    .cat:nth-child(3) {
      margin-right: 40px;
    }
  }

  .cat {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    z-index: 180;

    text-align: center;
    cursor: pointer;
    perspective: 500px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .text {
      content: "";
      position: absolute;
      display: flex;
      padding: 5% 8%;
      width: 70%;
      height: 40%;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      color: $textBlue;
      background: rgba(255,255,255,0.9);
      font-size: 20px;
      font-weight: 600;
      font-family: 'Varela Round', sans-serif;
      transform: translate(-50%, -50%) rotateY(90deg);
      transform-origin: 50%;
      opacity: 0;
      transition: all 0.4s ease-in;
    }

    &:hover .text {
      transform: translate(-50%, -50%) rotateY(0deg);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
  .container {
    .not-podium {
      .cat {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 850px) {
  .container {
    .not-podium {
      .cat {
        width: 160px;
        height: 160px;
      }
    }
  }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
  .container {
    .not-podium {
      .cat {
        width: 120px;
        height: 120px;
      }
    }
  }
}

@media screen and (max-width: 630px) and (min-width: 580px) {
  .container {
    .not-podium {
      .cat:nth-child(1) {
        margin-right: 20px;
      }
      .cat:nth-child(2) {
        margin-right: 20px;
      }
      .cat:nth-child(3) {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 580px) and (min-width: 500px) {
  .container {
    .not-podium {
      .cat {
        width: 110px;
        height: 110px;
      }

      .cat:nth-child(1) {
        margin-right: 10px;
      }
      .cat:nth-child(2) {
        margin-right: 10px;
      }
      .cat:nth-child(3) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1150px) and (min-width: 850px) {
  .container {

    .podium {

      .podium-container {
        width: 80%;
        height: fit-content;

        h2 {
          margin-top: 10px;
        }

        .cat-podium {
          width: 100%;
          margin-bottom: 20px;

          .cat {
            width: 220px;
            height: 220px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    .podium {
      .podium-container {
        width: 80%;
        height: fit-content;

        h2 {
          margin-top: 10px;
          text-align: center;
        }

        .cat-podium {
          width: 100%;
          margin-bottom: 20px;
          justify-items: center;
          justify-content: space-around;

          .cat {
            width: 120px;
            height: 120px;
          }

          .cat:nth-child(2) {
            margin: 0;
          }
        }
      }
    }

    .podium .podium-container .cat-podium,
    .not-podium {
      .cat {
        .text {
          content: normal;
          position: absolute;
          display: flex;
          padding: 0;
          width: 100%;
          height: 30%;
          align-items: center;
          top: 71%;
          bottom: 0;
          left: 0;
          color: $textBlue;
          background: rgba(255,255,255,0.9);
          font-weight: 600;
          font-family: 'Varela Round', sans-serif;
          transform: none;
          opacity: 1;

          h2 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            text-align: center;
          }
        }

        &:hover .text {
          transform: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {

    .podium {
      padding-top: 50px;

      .podium-container {
        width: 60%;

        .cat-podium {
          flex-direction: column;
          align-items: center;

          .cat {
            margin: 10px;
          }
        }
      }
    }

    .not-podium {
      display: none;
    }
  }
}
