$textBlue: #0dd7d0;

$whiteGradient: linear-gradient(to right bottom,
              rgba(255, 255, 255, 0.6),
              rgba(255, 255, 255, 0.2));
$buttonWhiteGradient: linear-gradient(to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.2));
$greenGradient: linear-gradient(to right bottom,
              rgba(16, 196, 141, 0.7),
              rgba(16, 196, 141, 0.2));
$redGradient: linear-gradient(to right bottom,
              rgba(196, 16, 86, 0.7),
              rgba(196, 16, 86, 0.2));

$navWhiteGradient: linear-gradient(to right,
              rgba(255, 255, 255, 0.6),
              rgba(255, 255, 255, 0.2));
