@mixin button() {
  .button {
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 30px;
    color: #0dd7d0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2));
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
    z-index: 200;
  }
}
