@import './../../assets/styles/mixin.scss';
@import './../../assets/styles/colors.scss';

@include button();

:host {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  .cat-container {
    display: flex;
    height: 100%;
    position: relative;

    .cat {
      width: 50%;
      height: 100%;
    }
  }

  footer {
    margin: auto;
    z-index: 200;

    .button:nth-child(1) {
      margin-right: 20px;

      &:hover {
        background: $greenGradient;
        color: white;
      }
    }

    .button:nth-child(2):hover {
      background: $redGradient;
      color: white;
    }
  }
}
